<div>
    <button class="btn btn-primary me-3" (click)="get400Error()">400Error</button>
    <button class="btn btn-primary me-3" (click)="get401Error()">get401Error</button>
    <button class="btn btn-primary me-3" (click)="get404Error()">404Error</button>
    <button class="btn btn-primary me-3" (click)="get500Error()">get500Error</button>
    <button class="btn btn-primary me-3" (click)="get404ValidationError()">get404ValidationError</button>

    @if (validationErrors.length > 0) {
        <div class="mt-5 row">
             <ul class="text-danger">
                @for(error of validationErrors; track $index) {
                    <li>{{ error }}</li>
                }
             </ul>
        </div>
    }
</div>